SECRET_KEY=your-secret-key-here
MAIL_PASSWORD=your-mail-password
MAIL_USERNAME=your-mail-username
MERCADOPAGO_ACCESS_TOKEN=your-mercadopago-token
MP_PUBLIC_KEY=your-mercadopago-public-key
WEBHOOK_URL=your-webhook-url
DJANGO_SUPERUSER_EMAIL=your-admin-email
DJANGO_SUPERUSER_PASSWORD=your-admin-password
DEBUG=True
